<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="../assets/css/reports.css">

   <title>add new Reports</title>
</head>

<body>
   <header class="container">
      <%- include('../nav-bar.ejs') -%>
   </header>

   <main class="container">
      <div class="row heading">
         <h1 class="text-center">Add Report</h1>
      </div>

      <form class="row needs-validation" id="reportForm" novalidate>
         <div class="col-3 offset-3 mb-3">
            <label for="ReportName" class="form-label">Report Name</label>
            <input type="text" name="ReportName" class="form-control" id="ReportName" required>
            <div class="invalid-feedback">
               Please input a Report name.
            </div>
         </div>
         <div class="col-3 mb-3">
            <label for="dateselector" class="form-label">Date Selector</label>
            <input type="date" name="dateselector" class="form-control" id="dateselector">
         </div>
         <div class="col-2  offset-3 mb-3">
            <label for="dropdown1" class="form-label">dropdown 1</label>
            <input type="text" name="dropdown1" value="test drop 1" class="form-control" id="dropdown1">
         </div> 
         <div class="col-2 mb-3">
            <label for="dropdown2" class="form-label">dropdown 2</label>
            <input type="text" name="dropdown2" class="form-control" id="dropdown2">
         </div>
         <div class="col-2 mb-3">
            <label for="dropdown3" class="form-label">dropdown 3</label>
            <input type="text" name="dropdown3" class="form-control" id="dropdown3">
         </div>

         <div class="col-2  offset-3 mb-3">
            <label for="dropdown1value" class="form-label">dropdown 1 value</label>
            <input type="text" name="dropdown1value" value="test drop 1 value" class="form-control" id="dropdown1value"
               required>
         </div>
         <div class="col-2 mb-3">
            <label for="dropdown2value" class="form-label">dropdown 2 value</label>
            <input type="text" name="dropdown2value" class="form-control" id="dropdown2value">
         </div>
         <div class="col-2 mb-3">
            <label for="dropdown3value" class="form-label">dropdown 3 value</label>
            <input type="text" name="dropdown3value" class="form-control" id="dropdown3value">
         </div>

         <!-- -------------QUERY--------------- -->

         <div class="col-6 offset-3 mb-3">
            <label for="query1" class="form-label">Query 1</label>
            <textarea type="text" rows='3' name="query1"  class="form-control" id="query1"
               required>SELECT Filenumber,Relationname,Place,AutoMail,Year,Month,Administration,Relationcode FROM q2 WHERE Relationname = ${Relationname}</textarea>
         </div>
         <div class="col-6 offset-3 mb-3">
            <label for="query2" class="form-label">Query 2</label>
            <textarea type="text" rows='3' name="query2" class="form-control" id="query2"></textarea>
         </div>
         <div class="col-6 offset-3 mb-3">
            <label for="query3" class="form-label">Query 3</label>
            <textarea type="text" rows='3' name="query3" class="form-control" id="query3"></textarea>
         </div>
         <div class="col-6 offset-3 mb-3">
            <label for="query4" class="form-label">Query 4</label>
            <textarea type="text" rows='3' name="query4" class="form-control" id="query4"></textarea>
         </div>
         <div class="col-6 offset-3 mb-3">
            <label for="query5" class="form-label">Query 5</label>
            <textarea type="text" rows='3' name="query5" class="form-control" id="query5"></textarea>
         </div>


         <!-- -------------UNIQUE LEVEL--------------- -->
         <div class="row">
            <div class="col-3 offset-3 mb-3">
               <label for="uniquelevel1" class="form-label">unique level 1</label>
               <input type="text" name="uniquelevel1" class="form-control" value="test unique lvl1" id="uniquelevel1"
                  required>
            </div>
            <div class="col-3 mb-3">
               <label for="uniquelevel2" class="form-label">unique level 2</label>
               <input type="text" name="uniquelevel2" class="form-control" id="uniquelevel2">
            </div>
            <div class="col-3 offset-3 mb-3">
               <label for="uniquelevel3" class="form-label">unique level 3</label>
               <input type="text" name="uniquelevel3" class="form-control" id="uniquelevel3">
            </div>
            <div class="col-3 mb-3">
               <label for="uniquelevel4" class="form-label">unique level 4</label>
               <input type="text" name="uniquelevel4" class="form-control" id="uniquelevel4">
            </div>

            <div class="col-3 offset-3 mb-3">
               <label for="uniquelevel5" class="form-label">unique level 5</label>
               <input type="text" name="uniquelevel5" class="form-control" id="uniquelevel5">
            </div>

         </div>

         <!-- -------------DRILL COLUMN LEVEL--------------- -->
         <div class="row">
            <div class="col-3 offset-3 mb-3">
               <label for="drillcolumnlevel1" class="form-label">Drill column level 1</label>
               <input type="text" name="drillcolumnlevel1" class="form-control" id="drillcolumnlevel1">
            </div>

            <div class="col-3  mb-3">
               <label for="drillcolumnlevel2" class="form-label">Drill column level 2</label>
               <input type="text" name="drillcolumnlevel2" class="form-control" id="drillcolumnlevel2">
            </div>
            <div class="col-3 offset-3 mb-3">
               <label for="drillcolumnlevel3" class="form-label">Drill column level 3</label>
               <input type="text" name="drillcolumnlevel3" class="form-control" id="drillcolumnlevel3">
            </div>
            <div class="col-3 mb-3">
               <label for="drillcolumnlevel4" class="form-label">Drill column level 4</label>
               <input type="text" name="drillcolumnlevel4" class="form-control" id="drillcolumnlevel4">
            </div>

         </div>

         <div class="col-6 offset-3" id="response-message"></div>

         <button type="submit" onclick='handleSubmit(event)'
            class="btn btn-primary mt-5 mb-5 col-6 offset-3">Submit</button>
      </form>
   </main>

   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

   <script src="../assets/js/reports.js"></script>
</body>

</html>