<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Group Overview</title>
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="../assets/css/reports.css">
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
   <header class="container">
      <%- include('../nav-bar.ejs') -%>
   </header>
   <main>
      <section class="container main-container">
         <h4 class="row heading">List of Reports</h4>
         <div class="tool-bar">
            <a href="/view/report-entry" class="col-1 new"><i class="fas fa-plus"> New</i></a>
            <div class="search-wrapper">
               <i class="fas fa-search"></i>
               <input onkeypress="handleSearch(event)" type="text" name="reportSearch" id="reportSearch" placeholder="search Report name">
            </div>
         </div>

         <div class="grid-header row">
            <div class="col-1 text-center pt-2 pt-2"></div>
            <div class="col-2 text-center pt-2 pt-2">Report Name</div>
            <div class="col-6 text-center pt-2 pt-2">Description</div>
         </div>
         <article id="results">
            <div id="res">
               <% finalResults.forEach((res)=> { %>
                  <div class="item row">
                     <div deleteData="<%= res.ReportName %>" class="col-1 row pt-2 pb-2">
                        <a onclick="handleEdit(event)" class="edit col-6 text-center edit"><i class="fas fa-edit"></i></a>
                        <div onclick="handleDelete(event)" class="delete col-6 text-center delete"><i class="far fa-trash-alt"></i></div>
                     </div>
                     <div class="col-2 pt-2 pb-2 text-center">
                        <%= res.ReportName %>
                     </div>
                     <div class="col-6 pt-2 pb-2 text-center">
                        <%= res.description %>
                     </div>
                  </div>
                  <% } ) %>
            </div>
         </article>
      </section>

   </main>
   <div id="modal">
      <div class='modal-content'>
         <p>Do you want to delete this Report?</p>
         <div class="btn-wrapper">
            <button onclick="handleYes()" class='btn-yes'>Yes</button>
            <button onclick="handleCancel()" class='btn-cancel'>Cancel</button>
         </div>
      </div>
   </div>
   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
   <script src="../assets/js/reports.js"></script>
</body>

</html>